*.rbc
capybara-*.html
.rspec/log
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage
/spec/tmp
**.orig
rerun.txt

config/local_env.yml
config/nginx.conf

.env

/.bundle
/vendor/bundle

.rvmrc
.powenv
.byebug_history
.idea

log
/log/*
tmp
public/assets/*
public/uploads/*
app/controllers/examples
app/spec

.gitignore
.keep
.bowerrc
node_modules
public/uploads/
